[submodule "touch"]
	path = touch
	url = ../../gengen1988/TouchBuild.git
[submodule "packages/ETFramework"]
	path = packages/ETFramework
	url = ../../gengen1988/ETFramework.git
[submodule "packages/deft"]
	path = packages/deft
	url = ../../gengen1988/DeftJS.git
[submodule "devel/Bootplate"]
	path = devel/Bootplate
	url = ../../gengen1988/Bootplate.git
